{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <table>
        {% for name, score in topten %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ score }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No TopTen file found</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
