{% block footer %}
    <footer class="footer fixed-bottom">
        <div class="container text-muted">
            <div class="float-left">&copy; 2017 - {{ "now"|date("Y") }} <a href="https://github.com/elkuku">elkuku</a>
            </div>
            <p class="float-right">Made with <a href="https://symfony.com">Symfony</a></p>
        </div>
    </footer>
{% endblock %}
