{% block footer %}
    <footer class="footer">
        <div class="container text-center text-muted">
            <div class="pull-left">&copy; 2005 - {{ "now"|date("Y") }} elkuku</div>
            <p class="pull-right">Made with <a href="https://symfony.com">Symfony</a></p>
        </div>
    </footer>
{% endblock %}
